.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #0006;
  top: 0;
  left:0;
  padding: 1rem 0;
  opacity:0;
  pointer-events: none;
}

.modal-container.active{
    opacity:1;
    pointer-events: all;
}

.modal{
    background-color: #444;
    padding: 1.3rem;
    font-family: Lato, sans-serif;
    width: 90%;
    /* min-width: 280px; */
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    border-radius: 5px;
    transform: scale(0.2);
    transition: transform 0.2s cubic-bezier(0,2,1,1);
}

.no-scroll{
    overflow: hidden;
}

.modal-container.active .modal{
    transform: scale(1);
}

.modal-heading{
    font-size: 1.7rem;
}

.text-block{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 0.9rem;
    gap: 0.7rem;
}
.button{
    padding: .5rem 1rem;
    flex:1;
    font-size: 13px;
    color: #111;
    border: none;
    outline: none;
    font-family: Lato, sans-serif;
    border-radius: 3px;
}

.goto-auth{
    background-color: #B5DF9F;
}

.continue{
    background-color: #ED5E5E;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 0.3rem 1rem;
}

.no-break{
    white-space: nowrap;
}

@media screen and (min-width: 450px) {
    .buttons{
        display: flex;
        flex-direction: row;
    }
}